<% provide(:title, '聖地詳細編集') %>
<h1>スポット情報編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h4><%= @spot.spot_name %></h4><br>
    <%= form_for @spot, url: {:action => 'commit'} do |f| %>
      <%= f.trix_editor :review %>
      <%= f.hidden_field :id, :value => @spot.id %>

      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default active">
          公開<%= f.radio_button :review_flag, true, checked: false %>
        </label>
        <label class="btn btn-default">
          下書き<%= f.radio_button :review_flag, false, checked: false %>
        </label>
      </div>

      <br>
      <div class="btn-group">
        <%= f.submit "保存する", class: "btn btn-primary" %>
      </div>
    
    <% end %>
  </div>
</div>