<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <%= link_to image_tag("icon/さくれロゴ1.png", :size => "112x50"), root_url %>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              かんこうち <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "とうろく", add_spot_path %></li>
              <li><%= link_to "さがす"  ,   search_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              けいかくひょう <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "つくる", planning_create_path %></li>
              <li><%= link_to "みる", planning_show_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              あかうんと <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "ぷろふぃーる", current_user %></li>
              <li><%= link_to "せってい", edit_user_path(current_user) %></li>
              <li><%= link_to "おきにいり", fav_show_path(user_id:current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ろぐあうと", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "さくれのメンバーになる", signup_path %></li>
          <li><%= link_to "ろぐいん", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>