<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application","https://fonts.googleapis.com/css?family=Kosugi+Maru",:media => "all" %>
  </head>
  <style>
  .jumbotron{
  background: url(/images/1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
  </style>
  <body>
    <%= render 'layouts/header' %>
  
    <div class="content">
  
      <div class="container">
    
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    
    <%= render 'layouts/footer' %>
  </body>
</html>