<% if current_user %>
    <h2>コメント欄</h2>
    <%= form_for @comment do |f| %>
        <%= f.text_area :comment %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :spot_id, :value => params[:spot_id] %>
        <br>
        <%= f.submit 'コメントする' , data:{ disable_with: '投稿中・・・'} %>
    <% end %>
<% else %>
    <h2>コメントするには<%= link_to "ログイン", login_path %>してください</h2>
    <h2>コメント欄</h2>
<% end %>
<% @comments.each do |comment| %>
    <div style="border:#d0d0d0 solid 1px;" >
        <p>
            <%= image_tag("default.jpg", :size => "30x30" ,:class => "rounded-circle") %>
            <%= comment.user_name %>さん
        </p>
        <p>
        <%= comment.comment %>
        </p>
        <div class="timestamp">
            <%= time_ago_in_words(comment.updated_at) %>前
        </div>
    </div>
<% end %>