<% comments.each do |comment| %>
    <div style="border:#d0d0d0 solid 1px;" >
        <%= link_to user_path(id: comment.user_id) do %>
            <%= image_tag( comment.image_name.url , :size => "30x30" , :class => "rounded-circle") if comment.image_name? %>
            <%= comment.user_name %>さん
        <% end %>
        <% unless !current_user || current_user.id != comment.user_id %>
            <%= link_to uncomment_path(spot_id:comment.spot_id,comment_id:comment.id) , method: :delete , remote: true do %>
                <i class="glyphicon glyphicon-trash"></i>
            <% end %>
        <% end %>
        <p>
        <% unless comment.images %>
        <% else %>
        <% comment.images.each do |image| %>
            <%= image_tag( "/uploads/comment/#{image}" , :size => "80x80" , :class => "rounded-circle") %>
            <br>
        <% end %>
        <% end %>
        <%= comment.comment %> 
        </p>
        <div class="timestamp">
            <%= time_ago_in_words(comment.updated_at) %>前
        </div>
    </div>
<% end %>