<!-- まだ未完成です　-->
<% provide(:title, "けんさく") %>
<h1>けんさくするよ</h1>

<div class=”container-fluid”>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#product-tab" class="nav-link active" data-toggle="tab" >さくひん</a>
        </li>
        <li class="nav-item">
          <a href="#pref-tab" class="nav-link" data-toggle="tab" >ちいき</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="product-tab" class="tab-pane active">
          <%= form_tag(spots_path, method: "get") do  %>
            <%= text_field_tag :search, params[:search], placeholder: "さくひんめい", class:"form-control"%>
            <%= submit_tag "けんさく", name: nil, class: "btn btn-primary" %>
          <% end %>
        </div>
        <div id="pref-tab" class="tab-pane">
          <%= form_tag(spots_path, method: "get") do  %>
            <%= text_field_tag :search, params[:search], placeholder: "けんめい", class:"form-control" %>
            <%= submit_tag "けんさく", name: nil, class: "btn btn-primary" %>
          <% end %>
        </div>

    </div>
  </div>
</div>