<% if current_user%>
    <%= render 'favorite/favorite' , detail: @detail[0]%>
<% end %>
<div id="media" style="width: 70%; margin: auto;">
<table>
    <tr>
        <td><%= image_tag( 'default.jpg' , :size => "200x200")  %></td>
    </tr>
    <tr>
        <th>作品名：</th>
        <td><%= @detail[0].product_name %></td>
    </tr>
    <tr>
        <th>スポット名：</th>
        <td><%= @detail[0].spot_name %></td>
    </tr>
    <tr>
        <th>住所：</th>
        <td>あ</td>
    </tr>
    <tr>
        <th>詳細：</th>
        <td><%= @detail[0].details %></td>
    </tr>
    <tr>
        <th>ジャンル：</th>
        <td>アニメ</td>
    </tr>
    <tr>
        <th>評価：</th>
        <td>
            <%= render 'rate/rate' , detail: @detail[0] %>
        </td>
    </tr>
</table>
<%= render 'comment/comment' %>
</div>
