<% if current_user%>
    <%= render 'favorite/favorite' , detail: @detail[0]%>
<% end %>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"><%= image_tag( 'default.jpg' , :size => "200x200")  %></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">作品名：</th>
            <td><%= @detail[0].product_name %></td>
        </tr>
        <tr>
            <th scope="row">スポット名：</th>
            <td><%= @detail[0].spot_name %></td>
        </tr>
        <tr>
            <th scope="row">住所：</th>
            <td>あ</td>
        </tr>
        <tr>
            <th scope="row">詳細：</th>
            <td><%= @detail[0].details %></td>
        </tr>
        <tr>
            <th scope="row">ジャンル：</th>
            <td>アニメ</td>
        </tr>
        <tr>
            <th scope="row">評価：</th>
            <td>
                <%= render 'rate/rate' , detail: @detail[0] %>
            </td>
        </tr>
    </tbody>
</table>
<hr>
<%= render 'comment/comment' %>
