<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'search' %>
  </div>

  <!-- 検索結果に作品名表示する -->
  <div class="col-md-6 col-md-offset-3">
    <% product_names = get_product_names(@result) %>
    <hr>
    <p class="center">
      <% if product_names.blank? %>
        <%= '該当するスポットが見つかりませんでした:('%>
      <% else %>
        <!-- 作品名の数が多くなった場合の処理はまだ書いてない-->
        <% format_product_names = '「'+product_names.join(' ')+'」' %>
        <% str_result_cnts = @result.length.to_s %>
        <%= format_product_names+'のスポットを'+str_result_cnts+'件表示しています。' %>
      <% end %>
    </p>
    <% @result.each do |data| %>
      <table class="table">
        <tr>
          <td>
            <% if data.images? %>
              <%= image_tag(data.images[0].url, size: 100) %>
            <% else %>
              <%= image_tag("icon/NoImage.png", size: 100) %>
            <% end %>
          </td>
          <td style="width: 3000px;margin-left: auto;">
            <% title = '「'+data.product_name+'」'+data.spot_name%>
            <%= link_to title ,search_detail_path(spot_id: data.id), style: "font-size: 18px" %>
            <d class="text-muted" style="font-size: 16px;">- <%= time_ago_in_words(data.updated_at) %>前</d>
            <p class="text-muted" style="font-size: 16px;"><%= data.details %></p><br>
            <%= render 'favorite/favorite' , detail: data%>
            <%= render 'rate/rate' , detail: data %>
          </td>
        </tr>
      </table>
    <% end %>
    <div class="center">
      <%= paginate @result %>
    </div>
  </div>

  <div class="col-md-3">
    <br><br>
    <%= render('search/ranking') %>
  </div>
</div>