<%= render 'favorite/favorite' , detail: @detail[0]%>
<table>
    <tr>
        <td><%= image_tag( 'default.jpg' , :size => "200x200")  %></td>
    </tr>
    <tr>
        <th>作品名：</th>
        <td><%= @detail[0].product_name %></td>
    </tr>
    <tr>
        <th>スポット名：</th>
        <td><%= @detail[0].spot_name %></td>
    </tr>
    <tr>
        <th>住所：</th>
        <td>あ</td>
    </tr>
    <tr>
        <th>詳細：</th>
        <td><%= @detail[0].details %></td>
    </tr>
    <tr>
        <th>ジャンル：</th>
        <td>アニメ</td>
    </tr>
    <tr>
        <th>評価：</th>
        <td><%= render 'rate/rate' , detail: @detail[0] %></td>
    </tr>
</table>
<%= form_for @comment do |f| %>
    <%= f.text_field :comment %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :spot_id, :value => params[:spot_id] %>
    <br>
    <%= f.submit 'コメントする' %>
<% end %>

<% @comments.each do |comment| %>
    <p><%= comment.user_id %></p>
    <p><%= comment.comment %></p>
<% end %>
