<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'search' %>
  </div>

  <!-- 検索結果に作品名表示する -->
  <div class="col-md-6 col-md-offset-3">
    <br><br>
    <p class="center">
      <% if @total_results == 0 %>
        <%= '該当する聖地が見つかりませんでした:('%>
      <% else %>
        <% str_result_cnts = @total_results.to_s %>
        <%= '聖地が合計'+str_result_cnts+'件見つかりました！' %>
      <% end %>
    </p>
    <br>
    <% @result.each do |data| %>
      <table class="table">
        <tr>
          <td>
            <% if data.images? %>
              <%= link_to image_tag(data.images[0].url, size:100), data.images[0].url, :'data-lightbox' => data.images[0].url %>
            <% else %>
              <%= image_tag("icon/NoImage.png", size: 100) %>
            <% end %>
          </td>
          <td style="width: 3000px;margin-left: auto;">
            <%= render partial: '/search/sponsor_icon',locals: {spot_id: data.id} %>
            <% title = '【'+data.product_name+'】'+data.spot_name%>
            <%= link_to title ,search_detail_path(spot_id: data.id), style: "font-size: 18px" %>
            <p class="text-muted" style="font-size: 16px;"><%= limit_str_detail(data.details) %></p><br>
            <%= render 'favorite/favorite' , detail: data%>
            <%= render 'rate/rate' , detail: data %>
          </td>
        </tr>
      </table>
    <% end %>
    <div class="center">
      <%= paginate @result %>
    </div>
  </div>

  <div class="col-md-3">
    <br><br>
    <%= render('search/ranking') %>
  </div>
</div>