<%= render partial: 'search/search'%>
<hr><P class="center">検索結果</p>
<br>

<% @result.each do |data| %>
  <table class="table">
    <tr>
      <td class="table-img">
        <% if data.images? %>
          <%= image_tag(data.images[0].url, size: 100) %>
        <% else %>
          <%= image_tag("icon/NoImage.png", size: 100) %>
        <% end %>
      </td>
      <td class="table-text">
        <%= link_to data.spot_name ,search_detail_path(spot_id: data.id) %><br>
        <%= data.details %><br><br>
        <%= render 'favorite/favorite' , detail: data%>
        <%= render 'rate/rate' , detail: data %>
        <span class="timestamp"> 
          <%= time_ago_in_words(data.updated_at) %>前
        </span>
      </td>
    </tr>
  </table>
<% end %>
<%= paginate @result %>