<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="2">
          <% unless @detail[0].images.blank? %>
            <% @detail[0].images.each do |image| %>
               <%= image_tag( image.url , :size => "150x150") %>
            <% end %>
          <% else %>
            <%= image_tag("icon/NoImage.png", size: "150x150") %>
          <% end %>
         </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" width="20%">作品名：</th>
        <td><%= @detail[0].product_name %></td>
      </tr>
      <tr>
        <th scope="row" width="20%">登録者：</th>
        <td>
          <%= link_to @user_name ,user_path(id: @user_id) %>
        </td>
      </tr>
      <tr>
        <th scope="row">聖地名：</th>
        <td><%= @detail[0].spot_name %></td>
      </tr>
      <tr>
        <th scope="row">住所：</th>
        <td><%= @detail[0].prefecture.name + " " + @detail[0].address_city + " " +  @detail[0].address_street + " " + @detail[0].address_building %></td>
      </tr>
      <tr>
        <th scope="row">詳細：</th>
        <td><%= @detail[0].details %></td>
      </tr>
      <tr>
        <th scope="row">ジャンル：</th>
        <td><%= @detail[0].genre_name %></td>
      </tr>
    </tbody>
  </table>
  <div style="margin: 10px auto;">
    <%= sanitize @detail[0].review %>
  </div>

  <%= render 'favorite/favorite' , detail: @detail[0] %>
  <%= render 'rate/rate' , detail: @detail[0] %>
  <br>
  <hr>
  <div>
    <div class="col-md-offset-1 col-md-10">
      <div id="map" style="text-align: center; height: 370px; width: 100%;"></div>
    </div>
    <hr>
    <div class="col-md-12">
      <% if current_user %>
        <%= render 'comment/form' , comment: @comment%>
      <% else %>
        <h2>コメントするには<%= link_to "ログイン", login_path %>してください</h2>
      <% end %>
      <h2>コメント欄</h2>
      <div id="comment_area">
        <%= render 'comment/comment' , comments: @comments%>
      </div>
    </div>
  </div>
</div>
<%=
map(
  :center => {
  :latlng => [@detail[0].latitude, @detail[0].longitude],
  :zoom => 18,
  },
  :markers => [
  {
   :latlng => [@detail[0].latitude, @detail[0].longitude],
   :popup => "#{@detail[0].spot_name}"
  }
  ]
)
%>