<% provide(:title, "プロフィール編集") %>
<h1>プロフィール編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@user, :html => {:multiple => true}) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <table class="table">
        <tr>
          <% if @user.image_name? %>
            <%= image_tag @user.image_name.url %>
        　<% end %>
        </tr>
        <tr>
          <th>アイコンを変更する</th>
          <td><%= f.file_field :image_name %></td>
        </tr>
        <tr>
          <th>ユーザー名</th>
          <td><%= f.text_field :user_name, class: 'form-control' %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.email_field :email, class: 'form-control' %></td>
        </tr>
        <tr>
          <th>パスワード</th>
          <td><%= f.password_field :password, class: 'form-control' %></td>
        </tr>
        <tr>
          <th>再入力</th>
          <td><%= f.password_field :password_confirmation, class: 'form-control' %><td>
        </tr>
      </table>

      <%= f.submit :"更新する", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>