<% provide(:title, "ゆーざーへんしゅう") %>
<h1>ぷろふぃーる　へんしゅう</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@user, :html => {:multiple => true}) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <table class="table">
        <tr>
          <% if @user.image_name? %>
            <%= image_tag @user.image_name.thumb.url %>
        　<% end %>
        </tr>
        <tr>
          <th>あいこん　へんこう</th>
          <td><%= f.file_field :image_name %></td>
        </tr>
        <tr>
          <th>ゆーざーねーむ</th>
          <td><%= f.text_field :user_name, class: 'form-control' %></td>
        </tr>
        <tr>
          <th><%= f.label :めーるあどれす %></th>
          <td><%= f.email_field :email, class: 'form-control' %></td>
        </tr>
        <tr>
          <th><%= f.label :ぱすわーど %></th>
          <td><%= f.password_field :password, class: 'form-control' %></td>
        </tr>
        <tr>
          <%= f.label :さいにゅうりょく, "再入力" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </tr>
      </table>

      <%= f.submit :こうしんする, class: "btn btn-primary" %>
    <% end %>

  </div>
</div>