<% provide(:title, 'ユーザ作成') %>
<h1>アカウント登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <table class="table">
        <tr>
          <th>ユーザー名<span class="text-danger">（必須）</span></th>
          <td><%= f.text_field :user_name, class: 'form-control' %></td>
        </tr>
        <tr>
          <th>メールアドレス<span class="text-danger">（必須）</span></th>
          <td><%= f.email_field :email, class: 'form-control' %></td>
        </tr>
        <tr>
          <th>パスワード<span class="text-danger">（必須）</span></th>
          <td><%= f.password_field :password, class: 'form-control' %></td>
        </tr>
        <tr>
          <th>再入力<span class="text-danger">（必須）</span></th>
          <td><%= f.password_field :password_confirmation, class: 'form-control' %></td>
        </tr>

      </table>

      <%= f.submit :"ユーザーを作成する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>