<% provide(:title, "Spot View") %>
<div class="row">
<br>
<% @user_spot = UserSpot.where('user_id = ?', session[:user_id]) %>
<% @spot = Spot.where('id in (?)', @user_spot.select(:spot_id).map(&:spot_id)) %>

<% @spot.each do |data| %>
  <table class="table">
    <tr>
      <td class="table-img">
        <% if data.images? %>
          <%= image_tag(data.images[0].url, size: 100) %>
        <% else %>
          <%= image_tag("icon/NoImage.png", size: 100) %>
        <% end %>
      </td>
      <td class="table-text">
        <%= data.spot_name %>
        <% if data.review_flag %>
          <span class="label label-info">公開</span>
        <% else %>
          <span class="label  label-danger">編集中</span><br>
        <% end %>
        <br>
        <%= data.details %><br><br>
        <a class="btn-group">
          <%= button_to "編集", { controller: 'spot', action: 'edit' }, {method: :get, params: {spot_id: data.id}, class: "btn btn-primary btn-sm"} %>
        </a>
        <%= render 'favorite/favorite' , detail: data%>
        <%= render 'rate/rate' , detail: data %>
        <span class="timestamp"> 
          <%= time_ago_in_words(data.updated_at) %>前
        </span>
      </td>
    </tr>
  </table>
<% end %>
</div>
