<% provide(:title, "Spot View") %>
<div class="row">
<br>
<% @user_spot = UserSpot.where('user_id = ?', session[:user_id]) %>
<% @spot = Spot.where('id in (?)', @user_spot.select(:spot_id).map(&:spot_id)) %>

<% @spot.each do |data| %>
  <table class="table">
    <tr>
      <td>
        <% if data.images? %>
          <%= image_tag(data.images[0].url, size: 100) %>
        <% else %>
          <%= image_tag("icon/NoImage.png", size: 100) %>
        <% end %>
      </td>
      <td style="width: 3000px;margin-left: auto;">
        <div class="form-inline">
          <% if data.review_flag %>
            <span class="label label-info">公　開</span>
          <% else %>
            <span class="label  label-danger">編集中</span>
          <% end %>
          <%= data.spot_name %>
          <d class="text-muted" style="font-size: 14px;">- <%= time_ago_in_words(data.updated_at) %>前</d>
        </div>
        <p class="text-muted" style="font-size: 14px;"><%= data.details %></p><br>
        <a class="btn-group">
          <%= button_to "編集", { controller: 'spot', action: 'edit' }, {method: :get, params: {spot_id: data.id}, class: "btn btn-primary btn-sm"} %>
        </a>
        <%= render 'favorite/favorite' , detail: data%>
        <%= render 'rate/rate' , detail: data %>
      </td>
    </tr>
  </table>
<% end %>
</div>
