<% provide(:title, '計画表作成') %>
<h1>計画表作成</h1>
<!-- 左寄せにする -->
<div class="row">
  <div class="col-md-2" style="text-align: center;">
    <h2>ピックアップ一覧</h2>
    <% hash = {} %>
    <% (Favorite.where(user_id: session[:user_id])).each do |data| %>
      <% hash.merge!(data.spot_id => (Spot.find_by(id: data.spot_id)).spot_name) %>
    <% end %>
    <table class="table">
      <% hash.values.each do |h| %>
        <tr><td><%= h %></td></tr>
      <% end %>
    </table>
  </div>

  <!--  右寄せにする -->
  <div class="col-md-10">
    <%= form_for @plan do |f| %>
      <table class="table table-striped table-bordered table-hover">
        <%= f.label :"計画表の名前" %>
        <%= f.text_field :plan_name, class: 'form-control' %>
        <%= f.nested_fields_for :plan_details, wrapper_tag: :tbody do |q| %>
          <tr>
            <td>日付<span class="text-danger">（必須）</span></td>
            <td id="date">
              <%= q.datetime_select :date, {}, {class: 'form-control bootstrap-date'} %>
            </td>
          </tr>
          <tr>
            <td>スポット名<span class="text-danger">（必須）</span></td>
            <td style="text-align: center;">
              <%= q.select :spot_name, hash.values, {}, {class:"form-control"} %>
            </td>
          </tr>
          <tr>
            <td>コメント</td>
            <td style="text-align: center;">
              <%= q.text_field :comment, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
              <%= q.remove_nested_fields_link class: 'btn btn-danger', role: 'button' do %>
                <span class="glyphicon glyphicon-minus"><span>
                Delete
              <% end %>
            </td>
          <tr>
        <% end %>
      </table>
        
      <%= f.add_nested_fields_link :plan_details, class: 'btn btn-primary', role: 'button' do %>
        <span class="glyphicon-plus" style="margin: 0 auto;"></span>
        Add new
      <% end %>
      
      <%= f.submit :計画表を完成させる, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>