<% provide(:title, '聖地巡礼スケジュール表作成') %>
<h1>聖地巡礼スケジュール表作成</h1>
<!-- 左寄せにする -->
<div class="row">
  <div class="col-md-2" style="text-align: center;">
    <table class="table">
      <tr style="bgcolor: #3C71C6">ピックアップ一覧</tr>
        <% favorite_spots = fetch_favorite_spots_in_hash %>
        <% favorite_spots.keys.each do |spot_id| %>
          <tr style="bgcolor: #fff"><td>
            <% spot_name = favorite_spots[spot_id] %>
            <%=link_to spot_name,search_detail_path(spot_id: spot_id)%>
          </td></tr>
        <% end %>
    </table> 
  </div>

  <!--  右寄せにする -->
  <div class="col-md-10">
    <%= form_for @plan do |f| %>
      <table class="table table-striped table-bordered table-hover">
        聖地巡礼スケジュール表の名前<span class="text-danger">（必須）</span>
        <%= f.text_field :plan_name, class: 'form-control' %>
        聖地巡礼スケジュール表の詳細
        <%= f.text_area :plan_detail, class: 'form-control' %>
        <%= f.nested_fields_for :plan_details, wrapper_tag: :tbody do |q| %>
          <tr>
            <td>日付<span class="text-danger">（必須）</span></td>
            <td id="datetimepicker" class="center input-group date">
              <%= q.text_field :date, class: 'form-control' %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">
                </span>
              </span>
            </td>
          </tr>
          <tr>
            <td>聖地<span class="text-danger">（必須）</span></td>
            <td style="text-align: center;">
              <label id="spot" class="center">
                聖地
                <%= q.select :spot_name, favorite_spots.values, {}, {class:"form-control plan"} %>
              </label>
            </td>
          </tr>
          <tr>
            <td>コメント</td>
            <td style="text-align: center;">
              <%= q.text_area :comment, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
              <%= q.remove_nested_fields_link class: 'btn btn-danger', role: 'button' do %>
                <span class="glyphicon glyphicon-minus"><span>
                Delete
              <% end %>
            </td>
          <tr>
        <% end %>
      </table>
        
      <%= f.add_nested_fields_link :plan_details, class: 'btn btn-primary', role: 'button' do %>
        <span class="glyphicon-plus" style="margin: 0 auto;"></span>
        Add new
      <% end %>
      <br><br>
      <%= f.submit :計画表を完成させる, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>