<% provide(:title, '計画表作成') %>
<h1>計画表作成</h1>
<!-- 左寄せにする予定 -->
<div class="col-md-2" style="text-align: center;">
  <h2>ピックアップ一覧</h2>
  <% @favorite = Favorite.where(user_id: session[:user_id]) %>
  <% @favorite.each do |data| %>
    <%= (Spot.find_by(id: data.spot_id)).spot_name %>
    <br>
  <% end %>
  <br>
  <br>
</div>

<!-- 右寄せにする予定 -->
<div class="col-md-10">
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>日付<span class="text-danger">（必須）</span></th>
      <th>スポット名<span class="text-danger">（必須）</span></th>
      <th>コメント</th>
      <th></th>
    </tr>
    <%= form_for @plan do |f| %>
      <%= f.nested_fields_for :plan_details, wrapper_tag: :tr do |q| %>
        <td style="text-align: center;">
          <%= q.datetime_select :date, {}, {class: 'form-control bootstrap-date'} %>
        </td>
        <td style="text-align: center;">
          <%= q.text_field :spot_name, class: 'form-control' %>
        </td>
        <td style="text-align: center;">
          <%= q.text_field :comment, class: 'form-control' %>
        </td>
        <td style="text-align: center;">
          <%= q.remove_nested_fields_link class: 'btn btn-danger', role: 'button' do %>
            <span class="glyphicon glyphicon-minus"><span>
            Delete
          <% end %>
        </td>
      <% end %>

      </table>
      <%= f.add_nested_fields_link :plan_details, class: 'btn btn-primary', role: 'button' do %>
        <span class="glyphicon-plus"></span>
        Add new
      <% end %>
      
      <%= f.submit :計画表を完成させる, class: "btn btn-primary" %>
    <% end %>
</div>