<% provide(:title, '聖地巡礼スケジュール表詳細') %>
<h1><%= @plan_name %></h1>
<h2><%= @plan_detail %></h2>
<ul class="cbp_tmtimeline">
  <li>
    <% @detail.each do |d| %>
      <time class="cbp_tmtime">
        <span><%= d.date.strftime("%Y/%m/%d") %></span>
        <span><%= d.date.strftime("%H:%M") %></span>
      </time>
      <div class="cbp_tmicon">
        <% @s = Spot.find_by(spot_name: d.spot_name) %>
        <% if @s %>
          <%= image_tag(@s.images[0].url, class: "img-thumbnail", size: 100) if @s.images? %>
        <% end %>
      </div>
      <div class="cbp_tmlabel">
        <h2 style="color: #fff">
          <%= d.spot_name %>
        </h2>
        <%= @s.prefecture.name + " " + @s.address_city + " " + @s.address_street + " " + @s.address_building %><br>
        <% if !d.comment.empty? %>
          <p style="color: #fff">
            <%= d.comment %>
          </p>
        <% end %>
      </div>
    <% end %>
  </li>
</ul>
<%= link_to plan_detail_path(format: :pdf, plan_id: params[:plan_id]) , class:"btn btn-link btn-lg" do %>
  <i class="glyphicon glyphicon-save">ダウンロード</i>
<% end %>