<h1 style="text-align:center"><%= @plan_name %></h1>
<ul class="cbp_tmtimeline">
  <li>
    <% @detail.each do |d| %>
      <time class="cbp_tmtime">
        <span><%= d.date.strftime("%Y/%m/%d") %></span>
        <span><%= d.date.strftime("%H:%M") %></span>
      </time>
      <div class="cbp_tmlabel">
        <h2 style="text-align:center">
          <%= d.spot_name %>
        </h2>
        <% if !d.comment.empty? %>
          <p>
            <%= d.comment %>
          </p>
          <%= wicked_pdf_image_tag 'default.jpg' , :width=>"100", :height=>"100" %>
        <% end %>
      </div>
    <% end %>
  </li>
</ul>