<% provide(:title, '聖地巡礼スケジュール表詳細') %>
<h1><%= @plan_name %></h1>
<h2><%= @plan_detail %></h2>
<ul class="cbp_tmtimeline">
  <li>
    <% @detail.each do |d| %>
      <time class="cbp_tmtime">
        <span><%= d.date.strftime("%Y/%m/%d") %></span>
        <span><%= d.date.strftime("%H:%M") %></span>
      </time>
      <div class="cbp_tmicon">
      </div>
      <div class="cbp_tmlabel">
        <h2 style="color: #fff">
          <%= d.spot_name %>
        </h2>
        <% if @s = Spot.find_by(spot_name: d.spot_name) %>
          <%= image_tag(@s.images[0].url, size: 100) if @s.images? %>
        <% end %>
        <%= @s.prefecture.name + " " + @s.address_city + " " + @s.address_street + " " + @s.address_building %><br>
        <% if !d.comment.empty? %>
          <p style="color: #fff">
            <%= d.comment %>
          </p>
        <% end %>
        <br>
        <% if @shops = Shop.where(spot_id: @s.id) %>
          <table class="table">
          <% @shops.each do |shop| %>
            <tr>
              <th colspan="3" scope="row" class="text-center">
                <%= shop.shop_name %>
              </th>
            </tr>
            <tr>
              <td>
                <% if shop.images? %>
                  <%= image_tag(shop.images.url, size: 100 , class:"img-circle") %>
                <% else %>
                  <%= image_tag("icon/NoImage.png", size: 100) %>
                <% end %>
              </td>
              <td>
                <%= shop.address %><br>
                <p style="font-size: 12px"><%= shop.detail %></p>
              </td>
            </tr>
          <% end %>
          </table>
        <% end %>
      
      </div>
    <% end %>
  </li>
</ul>
<%= link_to plan_detail_path(format: :pdf, plan_id: params[:plan_id]) , class:"btn btn-link btn-lg" do %>
  <i class="glyphicon glyphicon-save">ダウンロード</i>
<% end %>